@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'poppins',sans-serif;
}
.container {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/back.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
}
.navbar {
  height: 12%;
  display: flex;
  align-items: center;
}

nav ul li{
  list-style: none;
  display: inline-block;
}
nav ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 13px;
}
.logo {
  width: 70px;
  margin: 2%;
  cursor: pointer;
}
.row {
  display: flex;
  height: 88%;
  align-items: center;
}
.col {
  flex-basis: 50%;
  margin: 8px;
  margin-top: 7%;
}
h1 {
  color: white;
  font-size: 100px;
}
p {
  color: white;
  font-size: 15px;
  line-height: 15px;
}
button {
  width: 180px;
  color: white;
  font-size: 12px;
  padding: 12px 0;
  background: #16492d;
  border: 0;
  border-radius: 20px;
  outline: none;
  margin-top: 30px;
}
button a{
  text-decoration: none;
  color: #fff;
}
.card {
  width: 200px;
  height: 230px;
  display: inline-block;
  border-radius: 10px;
  padding: 10px 10px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 20px 10px;
  background-position: center;
  background-size: cover;
  transition: transform 0.5s;
}
.card1 {
  background-image: url(img/acc1.jpg);
}
.card2 {
  background-image: url(img/acc2.jpg);
}
.card3 {
  background-image: url(img/acc3.jpg);
}
.card4 {
  background-image: url(img/acc4.jpg);
}
.card:hover {
  transform: translateY(-10px);
}

